body {
	background-color: #dbdde0;
	min-height: 100vh;
	overflow-x: hidden
}

.wrapper {
	padding-left: 150px;
	padding-right: 150px;
}

/*Navbar Component*/
.nav {
	box-shadow: 0 3px 6px -2px rgba(200,200,200,0.2);
	background-color: #47B4F1;
	height: 65px;
	padding-left: 150px;
	padding-right: 150px;
}

.StyleLogo {
  width: 70%;
  height: 100%
}

.StyleIn  {
  fontFamily: raleway;
  marginTop: 20px;
  marginRight: 30px;
  padding: 10;
  fontSize: 30px;
  color: #345c7e
}

.navlink {
	padding-top: 50px;
	padding-right: 20px;
}

.quora-logo {
	padding-top: 15px;
}

.StyleNavbarRight {
	padding-top: 15px;
  padding: 10;
};

.separator {
	width: 330px;
}

.profile-pic {
	border-radius: 50%;
}

.profile {
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.username {
	padding-right: 10px;
	color: black;
}

.btn-addquestion {
	padding-top: 10px;
}

/*Center Col*/
.q-img {
	height: 40px;
	border-radius: 50%;
}

.q-box {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0 ;
}

.btn-upvote,
.btn-downvote,
.btn-answer {
	display: inline-block;
}

.btn-group {
	display: block;
}

.q-image {
	padding-right: 10px
}

.collapse-box {
	display: block;
}

.a-form {
	background-color: white;
	border-radius: 10px;
}

/*left-col*/
.RightBar {
  fontFamily: "raleway";
  fontSize: "16px";
  margin: "0px";
  marginBottom: "20px";
  fontWeight: "bold";
  borderBottom: "solid #345c7e";
  textAlign: "center";
};

/*Login*/
.login {
	padding: 70px 150px
}
